<i class="icon-search"></i>
<md-input-container>
    <input mdInput placeholder="Sök" [mdAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="selectedEntry" (ngModelChange)="onModelChanges($event)"
           (focus)="onFocus()" (blur)="onBlur()" (keyup)="onKeyUp()" (click)="onClickInput()">
</md-input-container>
<md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
    <ul class="search-result-list">
        <li *ngFor="let entry of searchResults | async">
            <div class="search-result-option-section">{{entry.ifeed.name}}</div>
            <md-option *ngFor="let document of entry.documents" [value]="{'document': document, 'ifeed': entry.ifeed}">
                {{ document.title }}
            </md-option>
        </li>
    </ul>
</md-autocomplete>

<div class="global-tip" *ngIf="mobileBrowser && searchInputFocused">
    <md-icon>info</md-icon> Vid sökning rekommenderas att ha enheten i porträttläge (på höjden) till skillnad från landskapsläge (på bredden).
</div>