.column {
    float: left;
    word-wrap: break-word;
}

.column.left-column {
    padding-right: 16px;
    width: 200px;
}

.right-column {
    width: calc(100% - 200px);
}

@media (max-width: 768px) {
    .left-column {
        width: 160px;
    }

    .right-column {
        width: calc(100% - 160px);
    }
}

.left-column, .right-column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 40vh;
    padding: 6px 12px;
}

nav a {
    display: block;
}

.left-float {
    float: right;
    margin-left: 12px;
}

search-documents {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 10px;
    width: calc(100% - 20px);
}

.search-row {
    height: 47px;
}

h5 {
    margin-bottom: 0;
}