<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title">
            Redigera ifeeds för <em [innerText]="bookName"></em>
        </h4>
    </div>

    <div class="panel-body">
        <div>
            <a routerLink="/" class="btn btn-primary"><i class="icon-arrow-left"></i> Tillbaka</a>
        </div>

        <div class="padding-top-bottom">
            <loading-indicator *ngIf="ifeedList == null"></loading-indicator>

            <table id="ifeedAdminTable" *ngIf="ifeedList != null">
                <thead>
                <tr>
                    <th>Namn</th>
                    <th>Ifeed-ID</th>
                    <th>Sortering</th>
                    <th>Visa Publicerad för enhet</th>
                    <th><span tooltip="Dra och släpp för att sortera">Sortera</span></th>
                </tr>
                </thead>
                <tbody [dragula]="'ifeed-rows'">
                <tr *ngFor="let ifeed of ifeedList.ifeeds">
                    <td><input [(ngModel)]="ifeed.name" type="text"></td>
                    <td><input [(ngModel)]="ifeed.feedId" type="text"></td>
                    <td>
                        Titel <input type="radio" name="{{ifeed.id}}-sort" [(ngModel)]="ifeed.sort" value="title"/>
                        Publiceringsdatum <input type="radio" name="{{ifeed.id}}-sort" [(ngModel)]="ifeed.sort" value="issuedDate"/>
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="ifeed.showPublishedFor"/>
                    </td>
                    <td class="center"><i class="icon-move handle"></i></td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteIfeed(ifeed)"><i class="icon-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <section>
                <div class="btn-group">
                    <button class="btn btn-primary" (click)="addIfeed()"><i class="icon-plus"></i> Lägg till rad
                    </button>
                </div>
            </section>
        </div>

        <section>
            <div class="btn-group">
                <button class="btn {{saveButtonClass}}" (click)="save()">
                    <i class="icon icon-save"></i>&nbsp;
                    {{saveButtonText}}
                </button>
            </div>
        </section>
    </div>
</div>