.btn-group button.transition {
    transition: all 2s;
    background-image: none;
}

table td, table th {
    padding: 4px 8px;
}

#ifeedAdminTable input {
    margin: 0;
    margin-bottom: 0;
}

.handle:hover {
    cursor: pointer;
}

table th {
    text-align: left;
    height: 32px;
}

table td.center {
    text-align: center;
}

tooltip-content {
    position: absolute;
}

td i[class^="icon"] {
    font-size: 1.2em;
}

.panel-body {
    padding: 10px;
}