.handbok-portlet button.btn, a.btn {
    font-weight: bold;
}

.handbok-portlet tooltip-content {
    font-size: 1.2em;
    font-weight: bold;
}

.handbok-portlet section {
    margin: 12px 0 24px 0;
}
/*
.portlet-body a:not(.btn) {
    color: #333333;
    font-size: 16px;
    font-family: "Arial";
}*/

.handbok-portlet ul.nav.nav-stacked>li>a, .handbok-portlet ul.nav.nav-stacked>li>a:focus {
    color: #333;
    background: transparent;
    padding: 16px 8px;
}

.handbok-portlet ul.nav.nav-stacked>li>a.active, .handbok-portlet ul.nav.nav-stacked>li>a.active:focus {
    color: #ffffff;
    background-color: #035295;
    font-weight: bold;
}

.handbok-portlet ul.nav.nav-stacked>li>a:not(.active):hover {
    background-color: #fcffdf;
}

.handbok-portlet .padding-top-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
}

.handbok-portlet .panel-heading .panel-title {
    color: inherit;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.handbok-portlet .panel.panel-default {
    border-color: #ddd;
}

.handbok-portlet .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.handbok-portlet .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #035295;
    border-color: #ddd;
}

.handbok-portlet .panel-default > .panel-heading a {
    color: #ffffff;
}

.handbok-portlet .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.aui table tr td input[type="text"] {
    margin: 0;
    margin-bottom: 0;
}

html.aui input {
    width: auto;
}

.aui .mat-autocomplete-panel {
    max-width: none;
}