button.btn, a.btn {
    font-weight: bold;
}

tooltip-content {
    font-size: 1.2em;
    font-weight: bold;
}

section {
    margin: 12px 0 24px 0;
}

.portlet-body a:not(.btn) {
    /*font-weight: bold;*/
    color: #333333;
    font-size: 16px;
    font-family: "Arial";
}

ul.nav.nav-stacked>li>a, ul.nav.nav-stacked>li>a:focus {
    color: #333;
    background: transparent;
    padding: 16px 8px;
}

ul.nav.nav-stacked>li>a.active, ul.nav.nav-stacked>li>a.active:focus {
    color: #ffffff;
    background-color: #035295;
    font-weight: bold;
}

ul.nav.nav-stacked>li>a:not(.active):hover {
    background-color: #fcffdf;
}

.padding-top-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
}

.panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #035295;
    border-color: #ddd;
}

.panel-default > .panel-heading a {
    color: #ffffff;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
