.button-row {
    margin-bottom: 8px;
}

.button-row .btn {
    margin-right: 8px;
}

iframe {
    height: 700px;
    height: 70vh;
    width: 100%;
}

.nav-stacked li i {
    margin-right: 4px;
}

.published-for {
    font-size: .8em;
    color: #777;
    margin-top: 2px;
    position: absolute;
    margin-left: 15px;
}