<ul *ngIf="!showingDocument && !mobileBrowser" class="nav nav-pills nav-stacked">
    <li *ngFor="let document of documents" >
        <a routerLink="/user/ifeed/{{id}}" [queryParams]="{'urlSafeUrl': document.urlSafeUrl, 'ifeedIdHmac': document.ifeedIdHmac}">{{document.title}}</a>
    </li>
</ul>

<ul *ngIf="!showingDocument && mobileBrowser" class="nav nav-pills nav-stacked">
    <li *ngFor="let document of documents" >
        <a href="" (click)="openInNewPage(document, $event)">{{document.title}}</a>
    </li>
</ul>

<loading-indicator *ngIf="documents === null || documents.length === 0"></loading-indicator>

<div *ngIf="showingDocument" class="button-row">
    <span><a class="btn btn-primary" routerLink="/user/ifeed/{{id}}" ><i class="icon-arrow-left"></i> Tillbaka</a></span>
    <span><a class="btn btn-primary" href="{{documentBaseUrl + encodeURI(currentDocument.urlSafeUrl) + '/' + currentDocument.ifeedIdHmac}}"><i class="icon-external-link"></i> Öppna helsida</a></span>
</div>

<div *ngIf="showingDocument && !mobileBrowser">
    <iframe [src]="getSafeDocumentUrl()"></iframe>
</div>

<div *ngIf="showingDocument && mobileBrowser">
    <em>{{currentDocument.title}}</em> öppnas i externt program.
</div>
